.content {
  display: flex;
  flex-direction: row;
}

.head-text {
  color: white;
  background-color: blue;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("/images/backimage.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  /* height: 100%; */
  /* background-position: center; */
  /* background-repeat: no-repeat;
  background-size: cover; */
  font-family: "Audiowide", sans-serif !important;
  
}

.row {
  width: 340px;
  margin: 50px auto;
  margin-bottom: 15px;
  /* background: #f7f7f7; */
  box-shadow: 14px 7px 42px rgb(61 20 34 / 61%);
  padding: 30px;
  margin: 0 0 15px;
}

.row, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
}
.btn-right {        
  float: right;
}

.transparent-input {
  background-color: rgba(0, 0, 0, 0);
  border:none;
}

.container .btn {
  color: #fff;
  background-color: #2a2c2d;
  border-radius: 33px;
}


#greetings {
  background: #0a0a0a;
  color: white;
}